h1 {
    font-style: italic;
    color: green;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    border: 1px grey solid;
    border-radius: 5px;
    padding: 10px;
}

.login-form > * {
    display: flex;
    justify-content: space-between;
}

.note {
    color:gray;
    padding-top: 3px;
    font-size: 15px;
}

.error {
    background-color: #ff9999;
    border-left: 5px red solid;
    margin: 15px;
    width: 30%;
}

.note-div {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.notes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}